Data/pipeline/PL_WebActivityDemo1.json
{
	"name": "PL_WebActivityDemo",
	"properties": {
		"description": "This PL_WebActivityDemo , pipeline is used to copy web activity output to the Blob Storage.\n\nThis is method 1 To copy web activity output\n",
		"activities": [
			{
				"name": "Web Activity to Read Rest API",
				"description": "Web Activity to call Rest API and Get Data from API.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/products"
				}
			},
			{
				"name": "Copy json data to blob storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web Activity to Read Rest API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "input//dwsamplejson.json"
					},
					{
						"name": "Destination",
						"value": "output//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "myCol",
								"value": {
									"value": "@{activity('Web Activity to Read Rest API').output.products}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "myCol",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_csv_WebIn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_csv_webout",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}