Data/pipeline/PL_WebActivityDemo.json
{
	"name": "PL_WebActivityDemo",
	"properties": {
		"description": "This PL_WebActivityDemo , pipeline is used to copy web activity output to the Blob Storage.\n",
		"activities": [
			{
				"name": "Web Activity to Read Rest API",
				"description": "Web Activity to call Rest API and Get Data from API.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/products"
				}
			},
			{
				"name": "Copy json data to blob storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web Activity to Read Rest API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "myCol",
								"value": {
									"value": "@activity('Web Activity to Read Rest API').output.products",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Json_In",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_csv_webout",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}